In [2]:
#imports
import pandas as pd
import os
import sys
#sets rows to all be visible
pd.set_option("display.min_rows", 201)
pd.set_option("display.max_rows", 201)
# load_dataset function
def load_dataset(file):
    """ takes in the .csv file and creates a dataframe"""
    try:
        df = pd.read_csv(file, delimiter=",", low_memory = False)
        return df
    #handling if the file isn't found
    except FileNotFoundError:
        print("Cannot find the file!")
        sys.exit()
#assigning the file name
file = os.getcwd() + "\\Iowa_Liquor_Sales.csv"
#function call and dataframe assignment
dataframe = load_dataset(file)
#dataset_info function
def dataset_info(dataframe):
    """ takes in the dataframe and returns the amount of rows and columns, as well as the individual column names and the printing of the answers to the questions"""
    #gets the shape of the dataframe
    rowsandcolumns = dataframe.shape
    #assigns the elements of the shape into variables for printing
    rows = rowsandcolumns[0]
    columns = rowsandcolumns[1]
    print("The data has " + str(rows) + " rows and " + str(columns) + " columns.")
    #prints every column in the dataframe
    for col in dataframe.columns:
        print(col)
    #printing out the first 15 rows of the dataframe
    dataframe.head(15)
    #converts all of the county names to uppercase for grouping
    dataframe['County'] = dataframe['County'].str.upper()
    #takes all of the mistakes in the dataset and replaces them with the corrected versions for grouping
    dataframe.replace({'County':{"BUENA VIST": "BUENA VISTA", "CERRO GORD": "CERRO GORDO", "OBRIEN": "O'BRIEN", "POTTAWATTA": "POTTAWATTAMIE"}}, inplace = True)
    #creates the county grouping and sums by county for printing
    countygroup = dataframe.groupby('County').sum()
    #prints out the sales dollars with formatting
    print1 = (countygroup["Sale (Dollars)"]).apply(lambda x: "${:,.2f}".format(x))
    print(print1)
    #prints out bottles sold, volume sold, and sale dollars by county with formatting
    print2 = (countygroup["Bottles Sold"]).apply(lambda x: "{:,}".format(x)),(countygroup["Volume Sold (Gallons)"]).apply(lambda x: "{:,.2f}".format(x)),(countygroup["Sale (Dollars)"]).apply(lambda x: "${:,.2f}".format(x))
    print(print2)
#function call
dataset_info(dataframe)

The data has 17926603 rows and 24 columns.
Invoice/Item Number
Date
Store Number
Store Name
Address
City
Zip Code
Store Location
County Number
County
Category
Category Name
Vendor Number
Vendor Name
Item Number
Item Description
Pack
Bottle Volume (ml)
State Bottle Cost
State Bottle Retail
Bottles Sold
Sale (Dollars)
Volume Sold (Liters)
Volume Sold (Gallons)
County
ADAIR              $3,473,185.98
ADAMS                $730,610.97
ALLAMAKEE          $6,871,442.52
APPANOOSE          $6,932,509.36
AUDUBON            $1,338,515.96
BENTON             $6,477,754.33
BLACK HAWK       $135,399,469.46
BOONE             $14,761,307.64
BREMER            $15,193,577.31
BUCHANAN          $10,469,442.55
BUENA VISTA       $14,872,255.84
BUTLER             $2,412,767.07
CALHOUN            $2,801,014.68
CARROLL           $19,804,607.46
CASS               $9,076,792.30
CEDAR              $4,428,692.48
CERRO GORDO       $49,203,724.30
CHEROKEE           $5,942,877.90
CHICKASAW          $3,211,279.14
CLARKE             $5,082,475.74
CLAY              $12,734,529.78
CLAYTON            $5,394,831.61
CLINTON           $29,156,901.72
CRAWFORD          $10,923,382.82
DALLAS            $47,566,701.55
DAVIS                $836,101.38
DECATUR            $1,379,730.77
DELAWARE           $7,989,305.96
DES MOINES        $28,973,215.39
DICKINSON         $32,804,941.75
DUBUQUE           $72,667,602.14
EL PASO                   $31.14
EMMET              $4,975,842.18
FAYETTE            $9,639,975.22
FLOYD              $9,564,685.75
FRANKLIN           $3,892,285.55
FREMONT              $273,329.62
GREENE             $3,965,681.98
GRUNDY             $2,559,892.14
GUTHRIE            $2,464,815.01
HAMILTON           $7,164,842.32
HANCOCK            $2,750,060.62
HARDIN            $14,623,135.16
HARRISON           $3,820,823.05
HENRY              $9,287,959.55
HOWARD             $5,869,253.06
HUMBOLDT           $5,758,977.19
IDA                $4,413,160.21
IOWA              $10,909,482.00
JACKSON            $9,578,413.31
JASPER            $14,294,749.02
JEFFERSON          $7,444,306.43
JOHNSON          $142,702,392.70
JONES              $9,656,275.69
KEOKUK             $1,242,795.10
KOSSUTH           $13,897,716.69
LEE               $28,409,092.62
LINN             $208,349,898.17
LOUISA             $1,919,364.33
LUCAS              $3,465,884.23
LYON               $5,721,375.24
MADISON            $6,167,230.43
MAHASKA            $8,580,345.32
MARION            $16,992,588.30
MARSHALL          $25,226,218.33
MILLS              $3,873,994.07
MITCHELL           $3,691,857.25
MONONA             $4,301,982.00
MONROE             $2,728,121.26
MONTGOMERY         $5,317,425.34
MUSCATINE         $26,072,190.19
O'BRIEN           $10,517,770.42
OSCEOLA            $2,027,884.33
PAGE               $9,905,483.09
PALO ALTO          $5,312,223.37
PLYMOUTH          $13,364,511.16
POCAHONTAS         $2,794,997.16
POLK             $537,849,805.28
POTTAWATTAMIE     $84,337,029.88
POWESHIEK         $11,842,911.74
RINGGOLD           $1,184,912.73
SAC                $4,505,148.77
SCOTT            $170,579,801.72
SHELBY             $6,634,428.24
SIOUX             $13,418,856.40
STORY             $71,844,955.20
TAMA               $5,563,694.56
TAYLOR               $922,271.86
UNION              $8,235,857.17
VAN BUREN          $1,533,848.41
WAPELLO           $21,335,015.54
WARREN            $19,645,046.04
WASHINGTON        $12,658,088.75
WAYNE                $939,552.57
WEBSTER           $26,672,712.22
WINNEBAGO          $5,933,873.94
WINNESHIEK        $10,960,438.34
WOODBURY          $82,038,239.88
WORTH              $2,008,562.14
WRIGHT             $5,386,614.38
Name: Sale (Dollars), dtype: object
(County
ADAIR               285,120
ADAMS                56,506
ALLAMAKEE           503,441
APPANOOSE           542,571
AUDUBON             115,963
BENTON              528,100
BLACK HAWK       11,745,927
BOONE             1,123,372
BREMER            1,120,211
BUCHANAN            806,852
BUENA VISTA       1,096,349
BUTLER              210,276
CALHOUN             232,649
CARROLL           1,330,486
CASS                661,844
CEDAR               385,562
CERRO GORDO       3,792,686
CHEROKEE            519,767
CHICKASAW           235,136
CLARKE              355,711
CLAY                959,770
CLAYTON             397,231
CLINTON           2,375,559
CRAWFORD            766,857
DALLAS            2,675,900
DAVIS                69,569
DECATUR             115,091
DELAWARE            565,859
DES MOINES        2,434,892
DICKINSON         2,298,572
DUBUQUE           5,360,873
EL PASO                  12
EMMET               367,342
FAYETTE             774,969
FLOYD               747,000
FRANKLIN            303,402
FREMONT              29,959
GREENE              290,610
GRUNDY              217,203
GUTHRIE             205,852
HAMILTON            578,985
HANCOCK             235,502
HARDIN            1,049,920
HARRISON            320,992
HENRY               714,676
HOWARD              403,325
HUMBOLDT            427,131
IDA                 310,768
IOWA                842,955
JACKSON             746,000
JASPER            1,201,738
JEFFERSON           570,463
JOHNSON          10,035,362
JONES               730,154
KEOKUK              110,682
KOSSUTH           1,004,712
LEE               2,116,107
LINN             16,510,380
LOUISA              226,186
LUCAS               265,468
LYON                438,089
MADISON             486,141
MAHASKA             692,968
MARION            1,283,646
MARSHALL          1,958,863
MILLS               346,534
MITCHELL            282,541
MONONA              350,130
MONROE              205,965
MONTGOMERY          445,333
MUSCATINE         2,097,017
O'BRIEN             779,368
OSCEOLA             157,503
PAGE                749,420
PALO ALTO           385,222
PLYMOUTH            951,069
POCAHONTAS          229,983
POLK             40,215,249
POTTAWATTAMIE     6,570,645
POWESHIEK           888,386
RINGGOLD             86,944
SAC                 337,328
SCOTT            14,010,255
SHELBY              477,260
SIOUX               894,760
STORY             5,206,966
TAMA                476,603
TAYLOR               80,228
UNION               591,974
VAN BUREN           112,503
WAPELLO           1,711,313
WARREN            1,572,177
WASHINGTON          954,325
WAYNE                74,535
WEBSTER           2,149,938
WINNEBAGO           481,075
WINNESHIEK          780,671
WOODBURY          6,326,162
WORTH               166,955
WRIGHT              449,557
Name: Bottles Sold, dtype: object, County
ADAIR               71,275.88
ADAMS               13,880.39
ALLAMAKEE          145,062.09
APPANOOSE          133,275.87
AUDUBON             30,492.23
BENTON             137,733.11
BLACK HAWK       2,372,125.00
BOONE              297,903.04
BREMER             310,347.97
BUCHANAN           211,136.52
BUENA VISTA        278,418.55
BUTLER              56,028.42
CALHOUN             63,106.39
CARROLL            379,731.14
CASS               178,798.81
CEDAR               92,924.95
CERRO GORDO        965,505.56
CHEROKEE           122,527.21
CHICKASAW           72,504.61
CLARKE              98,560.81
CLAY               268,282.97
CLAYTON            108,436.69
CLINTON            567,093.76
CRAWFORD           209,940.71
DALLAS             778,814.57
DAVIS               18,419.90
DECATUR             25,995.02
DELAWARE           159,367.44
DES MOINES         522,023.11
DICKINSON          627,917.05
DUBUQUE          1,335,984.32
EL PASO                  2.36
EMMET              104,746.29
FAYETTE            209,691.98
FLOYD              190,211.12
FRANKLIN            81,531.44
FREMONT              5,415.19
GREENE              77,686.31
GRUNDY              57,920.81
GUTHRIE             50,648.62
HAMILTON           147,614.23
HANCOCK             63,713.76
HARDIN             301,228.10
HARRISON            75,012.02
HENRY              173,732.81
HOWARD             125,179.96
HUMBOLDT           119,266.84
IDA                 86,100.24
IOWA               221,816.76
JACKSON            197,107.67
JASPER             289,059.25
JEFFERSON          133,835.28
JOHNSON          2,380,322.20
JONES              205,566.04
KEOKUK              28,394.22
KOSSUTH            280,818.37
LEE                520,192.38
LINN             3,797,853.02
LOUISA              36,954.57
LUCAS               66,766.77
LYON               111,300.83
MADISON            123,279.41
MAHASKA            165,327.68
MARION             318,543.38
MARSHALL           455,433.75
MILLS               78,537.50
MITCHELL            80,497.25
MONONA              83,241.13
MONROE              53,318.54
MONTGOMERY         104,944.36
MUSCATINE          485,665.21
O'BRIEN            220,420.34
OSCEOLA             41,977.82
PAGE               187,357.93
PALO ALTO          110,369.11
PLYMOUTH           256,538.72
POCAHONTAS          64,928.20
POLK             8,910,235.83
POTTAWATTAMIE    1,483,561.76
POWESHIEK          222,588.98
RINGGOLD            24,573.18
SAC                 96,575.14
SCOTT            2,907,897.14
SHELBY             125,869.89
SIOUX              260,916.13
STORY            1,328,559.13
TAMA               113,859.62
TAYLOR              18,569.02
UNION              159,278.71
VAN BUREN           29,129.52
WAPELLO            392,391.82
WARREN             379,024.68
WASHINGTON         224,963.47
WAYNE               18,843.21
WEBSTER            504,887.38
WINNEBAGO          127,978.95
WINNESHIEK         214,785.08
WOODBURY         1,438,188.36
WORTH               43,332.54
WRIGHT             114,738.12
Name: Volume Sold (Gallons), dtype: object, County
ADAIR              $3,473,185.98
ADAMS                $730,610.97
ALLAMAKEE          $6,871,442.52
APPANOOSE          $6,932,509.36
AUDUBON            $1,338,515.96
BENTON             $6,477,754.33
BLACK HAWK       $135,399,469.46
BOONE             $14,761,307.64
BREMER            $15,193,577.31
BUCHANAN          $10,469,442.55
BUENA VISTA       $14,872,255.84
BUTLER             $2,412,767.07
CALHOUN            $2,801,014.68
CARROLL           $19,804,607.46
CASS               $9,076,792.30
CEDAR              $4,428,692.48
CERRO GORDO       $49,203,724.30
CHEROKEE           $5,942,877.90
CHICKASAW          $3,211,279.14
CLARKE             $5,082,475.74
CLAY              $12,734,529.78
CLAYTON            $5,394,831.61
CLINTON           $29,156,901.72
CRAWFORD          $10,923,382.82
DALLAS            $47,566,701.55
DAVIS                $836,101.38
DECATUR            $1,379,730.77
DELAWARE           $7,989,305.96
DES MOINES        $28,973,215.39
DICKINSON         $32,804,941.75
DUBUQUE           $72,667,602.14
EL PASO                   $31.14
EMMET              $4,975,842.18
FAYETTE            $9,639,975.22
FLOYD              $9,564,685.75
FRANKLIN           $3,892,285.55
FREMONT              $273,329.62
GREENE             $3,965,681.98
GRUNDY             $2,559,892.14
GUTHRIE            $2,464,815.01
HAMILTON           $7,164,842.32
HANCOCK            $2,750,060.62
HARDIN            $14,623,135.16
HARRISON           $3,820,823.05
HENRY              $9,287,959.55
HOWARD             $5,869,253.06
HUMBOLDT           $5,758,977.19
IDA                $4,413,160.21
IOWA              $10,909,482.00
JACKSON            $9,578,413.31
JASPER            $14,294,749.02
JEFFERSON          $7,444,306.43
JOHNSON          $142,702,392.70
JONES              $9,656,275.69
KEOKUK             $1,242,795.10
KOSSUTH           $13,897,716.69
LEE               $28,409,092.62
LINN             $208,349,898.17
LOUISA             $1,919,364.33
LUCAS              $3,465,884.23
LYON               $5,721,375.24
MADISON            $6,167,230.43
MAHASKA            $8,580,345.32
MARION            $16,992,588.30
MARSHALL          $25,226,218.33
MILLS              $3,873,994.07
MITCHELL           $3,691,857.25
MONONA             $4,301,982.00
MONROE             $2,728,121.26
MONTGOMERY         $5,317,425.34
MUSCATINE         $26,072,190.19
O'BRIEN           $10,517,770.42
OSCEOLA            $2,027,884.33
PAGE               $9,905,483.09
PALO ALTO          $5,312,223.37
PLYMOUTH          $13,364,511.16
POCAHONTAS         $2,794,997.16
POLK             $537,849,805.28
POTTAWATTAMIE     $84,337,029.88
POWESHIEK         $11,842,911.74
RINGGOLD           $1,184,912.73
SAC                $4,505,148.77
SCOTT            $170,579,801.72
SHELBY             $6,634,428.24
SIOUX             $13,418,856.40
STORY             $71,844,955.20
TAMA               $5,563,694.56
TAYLOR               $922,271.86
UNION              $8,235,857.17
VAN BUREN          $1,533,848.41
WAPELLO           $21,335,015.54
WARREN            $19,645,046.04
WASHINGTON        $12,658,088.75
WAYNE                $939,552.57
WEBSTER           $26,672,712.22
WINNEBAGO          $5,933,873.94
WINNESHIEK        $10,960,438.34
WOODBURY          $82,038,239.88
WORTH              $2,008,562.14
WRIGHT             $5,386,614.38
Name: Sale (Dollars), dtype: object)